@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import "tailwindcss";

@theme {
  --color-seceondery-50: oklch(0.979 0.021 166.113);
  --color-seceondery-100: oklch(0.95 0.052 163.051);
  --color-seceondery-200: oklch(0.905 0.093 164.15);
  --color-seceondery-300: oklch(0.845 0.143 164.978);
  --color-seceondery-400: oklch(0.765 0.177 163.223);
  --color-seceondery-500: oklch(0.696 0.17 162.48);
  --color-seceondery-600: oklch(0.596 0.145 163.225);
  --color-seceondery-700: oklch(0.508 0.118 165.612);
  --color-seceondery-800: oklch(0.432 0.095 166.913);
  --color-seceondery-900: oklch(0.378 0.077 168.94);
  --color-seceondery-950: oklch(0.262 0.051 172.552);

  --color-prymery-50: oklch(0.984 0.019 200.873);
  --color-prymery-100: oklch(0.956 0.045 203.388);
  --color-prymery-200: oklch(0.917 0.08 205.041);
  --color-prymery-300: oklch(0.865 0.127 207.078);
  --color-prymery-400: oklch(0.789 0.154 211.53);
  --color-prymery-500: oklch(0.715 0.143 215.221);
  --color-prymery-600: oklch(0.609 0.126 221.723);
  --color-prymery-700: oklch(0.52 0.105 223.128);
  --color-prymery-800: oklch(0.45 0.085 224.283);
  --color-prymery-900: oklch(0.398 0.07 227.392);
  --color-prymery-950: oklch(0.302 0.056 229.695);

  --font-sans: "inter", sans-serif;
}
